<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/header/header_secondary.css">
    <link rel="stylesheet" href="../public/styles/la_pallette_du_gout/gout.css">
    <link rel="stylesheet" href="../public/styles/footer/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

      <!-- Font-awesome CDN -->
      <script
      src="https://kit.fontawesome.com/ef05bd29a1.js"
      crossorigin="anonymous"
      defer
    ></script>
    <title>menu A la fraçaise</title>
</head>
<body>

     <!--############################  HEADER  ############################--> 

     <header class="header">
       <section class="header__container">
        <a href="./acceuil.html"><i class="fas fa-arrow-left fa-lg arrow"></i></a>
        <h1>ohmyfood</h1>
       </section>
     
    </header>

     <!--############################  MAIN     ############################--> 
     
    <main>
      <main>
        <section class="hero">
        </section>
    </main>

    </main>

     <!--############################  FOOTER   ############################--> 

    <footer class="footer">
        <article class="footer__logo">
          <h3>ohmyfood</h3>
        </article>
        <div class="footer__links">
          <p>
            <span><i class="fas fa-utensils"></i></span
            ><a href="#">Proposez un restaurant</a>
          </p>
          <p>
            <span><i class="fas fa-hands-helping fa-xs"></i></span
            ><a href="#">Devenir un partenaire</a>
          </p>
          <p><a href="#">Mention légales</a></p>
          <p><a href="#">Contact</a></p>
        </div>
      </footer>
</body>
</html>