<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../public/styles/header/header_secondary.css"
    />
    <link
      rel="stylesheet"
      href="../public/styles/restaurants/restaurants.css"
    />
    <link rel="stylesheet" href="../public/styles/footer/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Font-awesome CDN -->
    <script
      src="https://kit.fontawesome.com/ef05bd29a1.js"
      crossorigin="anonymous"
      defer
    ></script>
    <link rel="shortcut icon" href="../public/assets/images/logo/ohmyfood@2x.svg" type="image/x-icon">

    <title>menu le délice des sens</title>
  </head>
  <body>
    <!--############################  HEADER  ############################-->

    <header class="header">
      <section class="header__container">
        <a href="/Houssam_Ouatmani_29_11_2020"
          ><i class="fas fa-arrow-left fa-lg arrow"></i
        ></a>
        <h1>ohmyfood</h1>
      </section>
    </header>

     <!--############################ END  HEADER  ############################-->

    <!--############################  MAIN     ############################-->

    <main>
      <div class="hero image-delice-sens">
        <!-- Contenu chargé via le CSS-->
      </div>
      <div class="a-la-francaise">
        <section class="a-l-f__title">
          <h2>Le délice des sens</h2>
          <div class="r__heart">
            <i class="far fa-heart fa-lg"></i>
          </div>
        </section>
        <section class="menu">
          <h3 class="center">ENTRÉES</h3>
          <hr>
          <article class="f-article first">
            <h4>Tartare de thon</h4>
            <div class="f-description">
              <p>Assaisonné au yuzu</p>
              <strong>25€</strong>
            </div>
          </article>

          <article class="f-article">
            <h4>Bouchée de homard croustillant</h4>
            <div class="f-description">
              <p>Et sa farandole de petits légumes</p>
              <strong>35€</strong>
            </div>
          </article>

          <article class="f-article">
            <h4>Velouté de cèpes</h4>
            <div class="f-description">
              <p>Aux truffes</p>
              <strong>20€</strong>
            </div>
          </article>

          <h3 class="plats center">PLATS</h3>
          <hr>

          <article class="f-article first">
            <h4>Poulet rôti aux herbes de Provence</h4>
            <div class="f-description">
              <p>Et sa crème de truffe</p>
              <strong>40€</strong>
            </div>
          </article>

          <article class="f-article">
            <h4>Langouste rôtie</h4>
            <div class="f-description">
              <p>Et ses légumes de saison</p>
              <strong>35€</strong>
            </div>
          </article>

          <article class="f-article">
            <h4>Côte de boeuf Angus</h4>
            <div class="f-description">
              <p>Et sa purée de panais</p>
              <strong>44€</strong>
            </div>
          </article>

          <h3 class="plats center">DESSERTS</h3>
          <hr>

          <article class="f-article first">
            <h4>Farandole de desserts</h4>
            <div class="f-description">
              <p>Du chef</p>
              <strong>18€</strong>
            </div>
          </article>

          <article class="f-article">
            <h4>Crème brulée</h4>
            <div class="f-description">
              <p>Revisité</p>
              <strong>22€</strong>
            </div>
          </article>

          <article class="f-article">
            <h4>Tiramisu</h4>
            <div class="f-description">
              <p>À la noisette</p>
              <strong>23€</strong>
            </div>
          </article>

          <div class="btn__commander">
            <input type="button" value="Commander" />
          </div>
        </section>
      </div>
    </main>

     <!--############################  END MAIN     ############################-->

    <!--############################  FOOTER   ############################-->

    <footer class="footer">
      <article class="footer__logo">
        <h3>ohmyfood</h3>
      </article>
      <div class="footer__links">
        <p>
          <span><i class="fas fa-utensils"></i></span
          ><a href="#">Proposez un restaurant</a>
        </p>
        <p>
          <span><i class="fas fa-hands-helping fa-xs"></i></span
          ><a href="#">Devenir un partenaire</a>
        </p>
        <p><a href="#">Mention légales</a></p>
        <p><a href="#">Contact</a></p>
      </div>
    </footer>

    <!--############################ END  FOOTER   ############################-->
  </body>
</html>
