@import "../utils/reset.scss";
@import "../utils/variable.scss";
@import "../utils/shared.scss";


.hero {
    height: 250px;
    background-image: url('../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    background-size: cover;
    background-position: top;
}