@import "./variable.scss";

* {
    font-family: $Roboto;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
  
  }
  html{
    scroll-behavior: smooth;
  }

  body {
    max-width: 1200px;
    margin: auto;
    scroll-behavior: smooth;
  }
  img {
    object-fit: cover;
  }
  ::selection {
    background-color: none;
  }
  a {
    color: black;
  }
  .secondary {
    background-color: #9256dc1e;
  }
  
  .grey {
    background-color: #f6f6f6;
    transition: .3s;
  }

  .grey:hover {
    background-color:#e2d0f961;
  }

  .grey:hover > i {
    color:#e2d0f961;
  }