@import "./variable.scss";

* {
    font-family: $Roboto;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
  
  }

  body {
    max-width: 1200px;
    margin: auto;
  }
  img {
    object-fit: cover;
  }
  
  a {
    color: black;
  }
  .secondary {
    background-color: #9256dc1e;
  }
  
  .grey {
    background-color: #f6f6f6;
  }