/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Roboto;
  text-decoration: none;
  box-sizing: border-box;
  appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1660px;
  margin: auto;
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
}

::selection {
  background-color: none;
}

a {
  color: black;
}

.secondary {
  background-color: #9256dc1e;
}

.grey {
  background-color: #f6f6f6;
  transition: 0.3s;
}

.grey:hover {
  background-color: #e2d0f961;
}

.grey:hover > i {
  color: #e2d0f961;
}

.pb__container {
  z-index: 3;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Roboto;
}
.pb__container p {
  font-size: 1.1rem;
}

.pb__holder {
  width: 60%;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  height: 221px;
  padding: 2rem;
  background-color: #fbfbfb;
}
.hero h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero p {
  text-align: center;
  font-weight: 300;
}

.btn__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__container a {
  padding: 1rem;
  border-radius: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-weight: 900;
  border: none;
  transition: 0.3s;
}
.btn__container a:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.658);
  background: linear-gradient(#f78ed9, #905fcc);
  transform: scale(1.25);
  overflow: hidden;
}

.fonctionnment__container {
  padding: 3rem 1rem;
}
.fonctionnment__container h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.f__card {
  height: 75px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.125);
  margin-bottom: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.grey:hover i {
  transition: 0.3s;
  color: #9356dc !important;
}

.f__card__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f__card__container span:first-child {
  font-weight: 700;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  margin-left: -1rem;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  font-size: 0.75rem;
}
.f__card__container span:nth-child(2) {
  color: #a8a8a8;
}

.f__card__title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.f__card__title h3 {
  font-size: 1rem;
  font-weight: 500;
}

.restaurant__container {
  padding: 4rem 1rem;
  background-color: #f6f6f6;
}
.restaurant__container h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.r-card {
  position: relative;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.125);
}
.r-card img {
  width: 100%;
  height: 11rem;
  z-index: 3;
}
.r-card span {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 4;
  padding: 0.5rem;
  background-color: #99e2d0;
  color: #36ad90;
  font-weight: 700;
  border-radius: 5px;
}

.r-card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  padding: 1rem 1rem;
}
.r-card__description h3 {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.heart {
  color: #9356dc;
}

@media only screen and (min-width: 450px) {
  .r-card img {
    height: 13rem;
  }
}
@media only screen and (min-width: 600px) {
  .restaurant__container {
    text-align: center;
  }
  .restaurant__container h2 {
    font-size: 3rem;
  }

  .header {
    height: 70px;
    overflow: hidden;
  }

  main {
    overflow: hidden;
  }

  .desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }

  .fonctionnment__container {
    background-color: #fcfcfc;
  }
  .fonctionnment__container h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .f__card {
    width: 70%;
    margin: 1rem auto;
  }

  .f__card__container {
    width: 100%;
    justify-content: space-around;
  }

  .f__card__title {
    width: 33%;
  }

  .r-card {
    width: 550px;
    text-align: center;
    margin: 2.5rem 0;
    transition: 0.3s;
  }
  .r-card img {
    height: 15rem;
  }
  .r-card:hover {
    transform: scale(1.1);
  }

  .r-card__description {
    width: auto;
  }
}
@media only screen and (max-width: 300px) {
  * {
    font-size: 4vw;
  }

  .header h1 {
    font-size: 8vw;
  }

  h2, p {
    font-size: 6vw !important;
  }

  h3 {
    font-size: 4vw !important;
  }

  .pb__holder {
    width: 100%;
  }

  .f__card {
    height: 50px;
  }

  .btn__container a {
    padding: 0.5rem;
  }

  .r-card img {
    height: 16vh;
  }
}
.loader__container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae4ec;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: blank 2s ease-in-out 2s reverse both;
  z-index: 1;
  pointer-events: none;
}

.loader {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-top: 3px solid #9356dc;
  border-bottom: 3px solid #ff79da;
  border-left: 3px solid #99e2d0;
  border-right: 3px solid rgba(255, 255, 255, 0);
  animation: rotate 2s linear infinite;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@keyframes blank {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0turn);
    top: -30%;
  }
  to {
    transform: rotate(9turn);
    top: 0;
    border-width: 20px;
  }
}
.fill {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.fill:hover {
  display: inline !important;
  animation-duration: 1s;
  animation-name: heart-coloration;
  animation-fill-mode: forwards;
}

@keyframes heart-coloration {
  1% {
    background: linear-gradient(5deg, #9356dc 1%, white 1%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  2% {
    background: linear-gradient(10deg, #9356dc 2%, white 2%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  3% {
    background: linear-gradient(15deg, #9356dc 3%, white 3%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  4% {
    background: linear-gradient(20deg, #9356dc 4%, white 4%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  5% {
    background: linear-gradient(25deg, #9356dc 5%, white 5%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  6% {
    background: linear-gradient(30deg, #9356dc 6%, white 6%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  7% {
    background: linear-gradient(35deg, #9356dc 7%, white 7%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  8% {
    background: linear-gradient(40deg, #9356dc 8%, white 8%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  9% {
    background: linear-gradient(45deg, #9356dc 9%, white 9%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10% {
    background: linear-gradient(50deg, #9356dc 10%, white 10%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  11% {
    background: linear-gradient(55deg, #9356dc 11%, white 11%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  12% {
    background: linear-gradient(60deg, #9356dc 12%, white 12%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  13% {
    background: linear-gradient(65deg, #9356dc 13%, white 13%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  14% {
    background: linear-gradient(70deg, #9356dc 14%, white 14%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  15% {
    background: linear-gradient(75deg, #9356dc 15%, white 15%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  16% {
    background: linear-gradient(80deg, #9356dc 16%, white 16%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  17% {
    background: linear-gradient(85deg, #9356dc 17%, white 17%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  18% {
    background: linear-gradient(90deg, #9356dc 18%, white 18%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  19% {
    background: linear-gradient(95deg, #9356dc 19%, white 19%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(100deg, #9356dc 20%, white 20%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  21% {
    background: linear-gradient(105deg, #9356dc 21%, white 21%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  22% {
    background: linear-gradient(110deg, #9356dc 22%, white 22%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  23% {
    background: linear-gradient(115deg, #9356dc 23%, white 23%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  24% {
    background: linear-gradient(120deg, #9356dc 24%, white 24%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient(125deg, #9356dc 25%, white 25%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  26% {
    background: linear-gradient(130deg, #9356dc 26%, white 26%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  27% {
    background: linear-gradient(135deg, #9356dc 27%, white 27%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  28% {
    background: linear-gradient(140deg, #9356dc 28%, white 28%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  29% {
    background: linear-gradient(145deg, #9356dc 29%, white 29%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: linear-gradient(150deg, #9356dc 30%, white 30%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  31% {
    background: linear-gradient(155deg, #9356dc 31%, white 31%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  32% {
    background: linear-gradient(160deg, #9356dc 32%, white 32%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  33% {
    background: linear-gradient(165deg, #9356dc 33%, white 33%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  34% {
    background: linear-gradient(170deg, #9356dc 34%, white 34%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  35% {
    background: linear-gradient(175deg, #9356dc 35%, white 35%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  36% {
    background: linear-gradient(180deg, #9356dc 36%, white 36%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  37% {
    background: linear-gradient(185deg, #9356dc 37%, white 37%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  38% {
    background: linear-gradient(190deg, #9356dc 38%, white 38%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  39% {
    background: linear-gradient(195deg, #9356dc 39%, white 39%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(200deg, #9356dc 40%, white 40%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  41% {
    background: linear-gradient(205deg, #9356dc 41%, white 41%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  42% {
    background: linear-gradient(210deg, #9356dc 42%, white 42%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  43% {
    background: linear-gradient(215deg, #9356dc 43%, white 43%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  44% {
    background: linear-gradient(220deg, #9356dc 44%, white 44%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  45% {
    background: linear-gradient(225deg, #9356dc 45%, white 45%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  46% {
    background: linear-gradient(230deg, #9356dc 46%, white 46%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  47% {
    background: linear-gradient(235deg, #9356dc 47%, white 47%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  48% {
    background: linear-gradient(240deg, #9356dc 48%, white 48%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  49% {
    background: linear-gradient(245deg, #9356dc 49%, white 49%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(250deg, #9356dc 50%, white 50%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  51% {
    background: linear-gradient(255deg, #9356dc 51%, white 51%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  52% {
    background: linear-gradient(260deg, #9356dc 52%, white 52%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  53% {
    background: linear-gradient(265deg, #9356dc 53%, white 53%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  54% {
    background: linear-gradient(270deg, #9356dc 54%, white 54%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  55% {
    background: linear-gradient(275deg, #9356dc 55%, white 55%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  56% {
    background: linear-gradient(280deg, #9356dc 56%, white 56%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  57% {
    background: linear-gradient(285deg, #9356dc 57%, white 57%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  58% {
    background: linear-gradient(290deg, #9356dc 58%, white 58%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  59% {
    background: linear-gradient(295deg, #9356dc 59%, white 59%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: linear-gradient(300deg, #9356dc 60%, white 60%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  61% {
    background: linear-gradient(305deg, #9356dc 61%, white 61%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  62% {
    background: linear-gradient(310deg, #9356dc 62%, white 62%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  63% {
    background: linear-gradient(315deg, #9356dc 63%, white 63%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  64% {
    background: linear-gradient(320deg, #9356dc 64%, white 64%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  65% {
    background: linear-gradient(325deg, #9356dc 65%, white 65%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  66% {
    background: linear-gradient(330deg, #9356dc 66%, white 66%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  67% {
    background: linear-gradient(335deg, #9356dc 67%, white 67%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  68% {
    background: linear-gradient(340deg, #9356dc 68%, white 68%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  69% {
    background: linear-gradient(345deg, #9356dc 69%, white 69%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: linear-gradient(350deg, #9356dc 70%, white 70%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  71% {
    background: linear-gradient(355deg, #9356dc 71%, white 71%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  72% {
    background: linear-gradient(360deg, #9356dc 72%, white 72%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  73% {
    background: linear-gradient(365deg, #9356dc 73%, white 73%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  74% {
    background: linear-gradient(370deg, #9356dc 74%, white 74%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: linear-gradient(375deg, #9356dc 75%, white 75%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  76% {
    background: linear-gradient(380deg, #9356dc 76%, white 76%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  77% {
    background: linear-gradient(385deg, #9356dc 77%, white 77%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  78% {
    background: linear-gradient(390deg, #9356dc 78%, white 78%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  79% {
    background: linear-gradient(395deg, #9356dc 79%, white 79%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: linear-gradient(400deg, #9356dc 80%, white 80%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  81% {
    background: linear-gradient(405deg, #9356dc 81%, white 81%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  82% {
    background: linear-gradient(410deg, #9356dc 82%, white 82%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  83% {
    background: linear-gradient(415deg, #9356dc 83%, white 83%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  84% {
    background: linear-gradient(420deg, #9356dc 84%, white 84%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  85% {
    background: linear-gradient(425deg, #9356dc 85%, white 85%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  86% {
    background: linear-gradient(430deg, #9356dc 86%, white 86%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  87% {
    background: linear-gradient(435deg, #9356dc 87%, white 87%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  88% {
    background: linear-gradient(440deg, #9356dc 88%, white 88%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  89% {
    background: linear-gradient(445deg, #9356dc 89%, white 89%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: linear-gradient(450deg, #9356dc 90%, white 90%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  91% {
    background: linear-gradient(455deg, #9356dc 91%, white 91%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  92% {
    background: linear-gradient(460deg, #9356dc 92%, white 92%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  93% {
    background: linear-gradient(465deg, #9356dc 93%, white 93%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  94% {
    background: linear-gradient(470deg, #9356dc 94%, white 94%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  95% {
    background: linear-gradient(475deg, #9356dc 95%, white 95%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  96% {
    background: linear-gradient(480deg, #9356dc 96%, white 96%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  97% {
    background: linear-gradient(485deg, #9356dc 97%, white 97%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  98% {
    background: linear-gradient(490deg, #9356dc 98%, white 98%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  99% {
    background: linear-gradient(495deg, #9356dc 99%, white 99%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(500deg, #9356dc 100%, white 100%, white);
    -webkit-text-stroke-width: 0.05px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*# sourceMappingURL=accueil.css.map */
