/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Roboto;
  text-decoration: none;
  box-sizing: border-box;
  appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  margin: auto;
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
}

a {
  color: black;
}

.secondary {
  background-color: #9256dc1e;
}

.grey {
  background-color: #f6f6f6;
  transition: 0.3s;
}

.grey:hover {
  background-color: #e2d0f961;
}

.grey:hover > i {
  color: #e2d0f961;
}

/*#border-icon {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
}
*/
.pb__container {
  z-index: 3;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Roboto;
}
.pb__container p {
  font-size: 1.1rem;
}

.pb__holder {
  width: 40%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  height: 221px;
  padding: 2rem;
  background-color: #fbfbfb;
}
.hero h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero p {
  text-align: center;
  font-weight: 300;
}

.btn__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__container a {
  padding: 1rem;
  border-radius: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-weight: 900;
  border: none;
  transition: 0.3s;
}
.btn__container a:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.658);
  background: linear-gradient(#f78ed9, #905fcc);
  transform: scale(1.25);
  overflow: hidden;
}

.fonctionnment__container {
  padding: 3rem 1rem;
}
.fonctionnment__container h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.f__card {
  height: 75px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.125);
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.f__card__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f__card__container span:first-child {
  font-weight: 700;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  margin-left: -1rem;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  font-size: 0.75rem;
}
.f__card__container span:nth-child(2) {
  color: #a8a8a8;
}

.f__card__title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.f__card__title h3 {
  font-size: 1rem;
  font-weight: 500;
}

.restaurant__container {
  padding: 4rem 1rem;
  background-color: #f6f6f6;
}
.restaurant__container h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.r-card {
  position: relative;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.125);
}
.r-card img {
  width: 100%;
  height: 13rem;
  z-index: 3;
}
.r-card span {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 4;
  padding: 0.5rem;
  background-color: #99e2d0;
  color: #36ad90;
  font-weight: 700;
  border-radius: 5px;
}

.r-card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  padding: 1rem 1rem;
}
.r-card__description h3 {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.heart {
  color: #9356dc;
}

@media only screen and (min-width: 600px) {
  .restaurant__container {
    text-align: center;
  }
  .restaurant__container h2 {
    font-size: 3rem;
  }

  .header {
    height: 70px;
    overflow: hidden;
  }

  main {
    overflow: hidden;
  }

  .desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }

  .fonctionnment__container {
    background-color: #fcfcfc;
  }
  .fonctionnment__container h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .f__card {
    width: 70%;
    margin: 1rem auto;
  }

  .f__card__container {
    width: 100%;
    justify-content: space-around;
  }

  .f__card__title {
    width: 33%;
  }

  .r-card {
    width: 550px;
    text-align: center;
    margin: 2.5rem 0;
    transition: 0.3s;
  }
  .r-card:hover {
    transform: scale(1.1);
  }

  .r-card__description {
    width: auto;
  }
}
.loader__container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae4ec;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: blank 2s ease-in-out 2s reverse both;
  z-index: 1;
  pointer-events: none;
}

.loader {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-top: 3px solid #9356dc;
  border-bottom: 3px solid #ff79da;
  border-left: 3px solid #99e2d0;
  border-right: 3px solid rgba(255, 255, 255, 0);
  animation: rotate 2s linear infinite;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@keyframes blank {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0turn);
    top: -30%;
  }
  to {
    transform: rotate(9turn);
    top: 0;
    border-width: 20px;
  }
}
.fill {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.fill:hover {
  display: inline !important;
  animation-duration: 1s;
  animation-name: heart-coloration;
  animation-fill-mode: forwards;
}

@keyframes heart-coloration {
  1% {
    background: linear-gradient(#ff79da, #9356dc 1%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  2% {
    background: linear-gradient(#ff79da, #9356dc 2%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  3% {
    background: linear-gradient(#ff79da, #9356dc 3%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  4% {
    background: linear-gradient(#ff79da, #9356dc 4%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  5% {
    background: linear-gradient(#ff79da, #9356dc 5%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  6% {
    background: linear-gradient(#ff79da, #9356dc 6%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  7% {
    background: linear-gradient(#ff79da, #9356dc 7%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  8% {
    background: linear-gradient(#ff79da, #9356dc 8%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  9% {
    background: linear-gradient(#ff79da, #9356dc 9%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10% {
    background: linear-gradient(#ff79da, #9356dc 10%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  11% {
    background: linear-gradient(#ff79da, #9356dc 11%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  12% {
    background: linear-gradient(#ff79da, #9356dc 12%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  13% {
    background: linear-gradient(#ff79da, #9356dc 13%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  14% {
    background: linear-gradient(#ff79da, #9356dc 14%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  15% {
    background: linear-gradient(#ff79da, #9356dc 15%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  16% {
    background: linear-gradient(#ff79da, #9356dc 16%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  17% {
    background: linear-gradient(#ff79da, #9356dc 17%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  18% {
    background: linear-gradient(#ff79da, #9356dc 18%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  19% {
    background: linear-gradient(#ff79da, #9356dc 19%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(#ff79da, #9356dc 20%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  21% {
    background: linear-gradient(#ff79da, #9356dc 21%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  22% {
    background: linear-gradient(#ff79da, #9356dc 22%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  23% {
    background: linear-gradient(#ff79da, #9356dc 23%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  24% {
    background: linear-gradient(#ff79da, #9356dc 24%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient(#ff79da, #9356dc 25%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  26% {
    background: linear-gradient(#ff79da, #9356dc 26%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  27% {
    background: linear-gradient(#ff79da, #9356dc 27%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  28% {
    background: linear-gradient(#ff79da, #9356dc 28%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  29% {
    background: linear-gradient(#ff79da, #9356dc 29%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: linear-gradient(#ff79da, #9356dc 30%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  31% {
    background: linear-gradient(#ff79da, #9356dc 31%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  32% {
    background: linear-gradient(#ff79da, #9356dc 32%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  33% {
    background: linear-gradient(#ff79da, #9356dc 33%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  34% {
    background: linear-gradient(#ff79da, #9356dc 34%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  35% {
    background: linear-gradient(#ff79da, #9356dc 35%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  36% {
    background: linear-gradient(#ff79da, #9356dc 36%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  37% {
    background: linear-gradient(#ff79da, #9356dc 37%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  38% {
    background: linear-gradient(#ff79da, #9356dc 38%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  39% {
    background: linear-gradient(#ff79da, #9356dc 39%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(#ff79da, #9356dc 40%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  41% {
    background: linear-gradient(#ff79da, #9356dc 41%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  42% {
    background: linear-gradient(#ff79da, #9356dc 42%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  43% {
    background: linear-gradient(#ff79da, #9356dc 43%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  44% {
    background: linear-gradient(#ff79da, #9356dc 44%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  45% {
    background: linear-gradient(#ff79da, #9356dc 45%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  46% {
    background: linear-gradient(#ff79da, #9356dc 46%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  47% {
    background: linear-gradient(#ff79da, #9356dc 47%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  48% {
    background: linear-gradient(#ff79da, #9356dc 48%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  49% {
    background: linear-gradient(#ff79da, #9356dc 49%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(#ff79da, #9356dc 50%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  51% {
    background: linear-gradient(#ff79da, #9356dc 51%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  52% {
    background: linear-gradient(#ff79da, #9356dc 52%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  53% {
    background: linear-gradient(#ff79da, #9356dc 53%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  54% {
    background: linear-gradient(#ff79da, #9356dc 54%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  55% {
    background: linear-gradient(#ff79da, #9356dc 55%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  56% {
    background: linear-gradient(#ff79da, #9356dc 56%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  57% {
    background: linear-gradient(#ff79da, #9356dc 57%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  58% {
    background: linear-gradient(#ff79da, #9356dc 58%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  59% {
    background: linear-gradient(#ff79da, #9356dc 59%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: linear-gradient(#ff79da, #9356dc 60%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  61% {
    background: linear-gradient(#ff79da, #9356dc 61%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  62% {
    background: linear-gradient(#ff79da, #9356dc 62%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  63% {
    background: linear-gradient(#ff79da, #9356dc 63%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  64% {
    background: linear-gradient(#ff79da, #9356dc 64%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  65% {
    background: linear-gradient(#ff79da, #9356dc 65%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  66% {
    background: linear-gradient(#ff79da, #9356dc 66%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  67% {
    background: linear-gradient(#ff79da, #9356dc 67%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  68% {
    background: linear-gradient(#ff79da, #9356dc 68%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  69% {
    background: linear-gradient(#ff79da, #9356dc 69%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: linear-gradient(#ff79da, #9356dc 70%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  71% {
    background: linear-gradient(#ff79da, #9356dc 71%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  72% {
    background: linear-gradient(#ff79da, #9356dc 72%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  73% {
    background: linear-gradient(#ff79da, #9356dc 73%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  74% {
    background: linear-gradient(#ff79da, #9356dc 74%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: linear-gradient(#ff79da, #9356dc 75%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  76% {
    background: linear-gradient(#ff79da, #9356dc 76%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  77% {
    background: linear-gradient(#ff79da, #9356dc 77%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  78% {
    background: linear-gradient(#ff79da, #9356dc 78%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  79% {
    background: linear-gradient(#ff79da, #9356dc 79%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: linear-gradient(#ff79da, #9356dc 80%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  81% {
    background: linear-gradient(#ff79da, #9356dc 81%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  82% {
    background: linear-gradient(#ff79da, #9356dc 82%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  83% {
    background: linear-gradient(#ff79da, #9356dc 83%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  84% {
    background: linear-gradient(#ff79da, #9356dc 84%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  85% {
    background: linear-gradient(#ff79da, #9356dc 85%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  86% {
    background: linear-gradient(#ff79da, #9356dc 86%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  87% {
    background: linear-gradient(#ff79da, #9356dc 87%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  88% {
    background: linear-gradient(#ff79da, #9356dc 88%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  89% {
    background: linear-gradient(#ff79da, #9356dc 89%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: linear-gradient(#ff79da, #9356dc 90%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  91% {
    background: linear-gradient(#ff79da, #9356dc 91%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  92% {
    background: linear-gradient(#ff79da, #9356dc 92%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  93% {
    background: linear-gradient(#ff79da, #9356dc 93%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  94% {
    background: linear-gradient(#ff79da, #9356dc 94%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  95% {
    background: linear-gradient(#ff79da, #9356dc 95%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  96% {
    background: linear-gradient(#ff79da, #9356dc 96%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  97% {
    background: linear-gradient(#ff79da, #9356dc 97%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  98% {
    background: linear-gradient(#ff79da, #9356dc 98%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  99% {
    background: linear-gradient(#ff79da, #9356dc 99%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(#ff79da, #9356dc 100%);
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*# sourceMappingURL=accueil.css.map */
