@import "./utils/reset.scss";

//---------------------- VARIABLES ------------------------------- //

// Font
$Shrikhand: Shrikhand;
$Roboto: Roboto;

// Colors

$Primaire: #9356dc;
$Secondaire: #ff79da;
$Tertiaire: #99e2d0;

*{
    font-family: $Roboto;
  }

  .secondary {
    background-color: #9256dc1e;
  }

  .grey {
    background-color: #f2f2f2;
  }
.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: $Shrikhand;
    font-size: 1.9rem;
  }
}

.pb__container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: $Roboto;

  p {
      font-size: 1.1rem;
  }
}
.pb__holder {
  width: 40%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  height: 221px;  
  padding: 2rem;
  background-color:#fbfbfb;

  h2{
      text-align: center;
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 1rem;
      
  }
  p{
      text-align: center;
      font-weight: 300;
  }
}

.btn__container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        padding: 1rem;
        border-radius: 30px;
        background: linear-gradient($Secondaire, $Primaire);
        color: white;
        font-weight: 900;
        border: none;
    }
}

.fonctionnment__container{
  padding: 3rem 1rem;

  h2{
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}

.f__card {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.411);
  margin-bottom: 1rem;
}

.f__card__ico {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span:first-child{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    margin-left: -10px;
    align-items: center;
    background-color: #9356dc;
    border-radius: 50%;
    color: white;
  }

  span:last-child{
    color: #f50606;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
}