@import "../utils/reset.scss";
@import "../utils/variable.scss";
@import "../utils/shared.scss";


.hero {
    position: relative;
    height: 250px;
    background-image: url('../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    background-size: cover;
    background-position: top;
    z-index: 2;
}


.a-la-francaise{
    position: relative;
    padding: 2rem 1rem;
    margin-bottom: -3rem;
    z-index: 3;
    background-color: #f4f4f4;
    border-radius: 2.5rem 2.5rem 0 0;
    bottom: 3rem;
}

.a-l-f__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;

    h2 {
        font-family: $Shrikhand;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
}
.r__heart{
    padding-bottom: .8rem;
}
.menu{
    padding-top: 1rem;

    h3 {
        display: inline-block;
        font-weight: 400;
        color: #383737;
        border-bottom-width: 1em;
        padding-bottom: .5rem;
        border-bottom: solid 3px $Tertiaire;
    }
}

.f-article {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 4px rgba(160, 141, 141, 0.048);

    h4 {
        font-weight: 700;
    }
}

.f-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
}

.plats,
.dessert {
    padding-top: 2.5rem;
}

.btn__commander{
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        color:  white;
        background: linear-gradient($Secondaire, $Primaire );
        padding: 1rem 3rem;
        border-radius: 2rem;
        border: none;
        font-size: 1.1rem;
        transition:  .3s;
    }

    input:hover{
        cursor: pointer;
        transform: scale(1.20);
    }
}